:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-7: hsl(0, 0%, 20%);
    --Grey-8: hsl(0, 0%, 12%);
    --Grey-9: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: var(--Grey-9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

.conteiner{
    background-color: var(--Grey-8);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.link{
    background-color: var(--Grey-7);
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.link:hover{
    background-color: var(--Green);
    color: black;
}

img{
    border-radius: 175px;
    width: 150px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
}