body{
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.conteiner, .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

button{
    margin: 20px 0;
}

.erro{
    border-color: red;
}